@page
@model BookInventoryManager.Pages.Authors.DetailsModel

@{
    ViewData["Title"] = "Author Details";
}

<div>
    <a class="button secondary" asp-page="./Index">Back to List</a>
</div>

<h1>Author Details</h1>

<a class="button primary" asp-page="./Edit" asp-route-id="@Model.Author?.ID">Edit</a>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Surname)
        </dd>
    </dl>
</div>
